<div class="container">
  <div class="hero">
    <div class="title">Minimalist Room</div>
    <div class="content_spacing"></div>
    <div class="subtitle">It is a long established fact that a reader will be distracted by the readable content of a
      page when looking
      at its layout.</div>
    <br>
    <div class="content_spacing"></div>

    <img src="assets/hero_image.svg" alt="hero">
  </div>

  <div class="content_spacing"></div>

  <div class="content_spacing"></div>
  <div class="row">
    <div class="col-xs-6 col-lg-6 justify-content-between">
      <h5>Project Overview</h5>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. </p>
      <br class="d-none d-lg-flex">
      <br class="d-none d-lg-flex">
      <div class="col-md-6 col-lg-12">
        <div class="d-flex justify-content-between">
          <p class="paragraph"> July 22 - 2022</p>
          <p class="paragraph">
            Interior Design - Furniture</p>
        </div>
      </div>
    </div>
    <div class="d-lg-none content_spacing"></div>
    <div class="col-xs-6 col-lg-6 justify-content-between">
      <h5>Design Process</h5>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be
        done anytime and anywhere. </p>
      <br>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be
        done anytime and anywhere. </p>
    </div>
  </div>
</div>
