<div class="content_spacing"></div>

<div class="content_spacing"></div>

<div class="container">

  <div class="row">
    <div class="col-6">
      <img src="assets/1.svg" alt="hero_image 1">
    </div>
    <div class="col-6 ">
      <img src="assets/2.svg" alt="image 2">
    </div>
  </div>
  <br>
  <div class="col-12">
    <img src="assets/3.svg" alt="image 3">
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <img src="assets/4.svg" alt="image 4">
    </div>
    <div class="col-6 ">
      <img src="assets/5.svg" alt="image 5">
    </div>
  </div>
</div>
