<div class="content_spacing"></div>
<div class="content_spacing"></div>
<div class="content_spacing"></div>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <img src="assets/logo.svg" alt="dananz">
      <h2 class="col-12 col-lg-7 mt-2">One of the best furniture agency.</h2>
    </div>
    <div class="d-lg-none content_spacing"></div>
    <div class="col-12 col-lg-4 justify-content-start">
      <p>Enter your email to get the laterst news</p>
      <div class="custom_input">
        <input type="email" placeholder="Email Address">
        <img src="assets/arrow.svg" alt="dananz">
      </div>
      <br>
      <div class="socials ">
        <p>Follow us On</p>
        <div class="social_contaner col-12">
          <div class="icon_wrap">
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div class="icon_wrap">
            <i class="fa-brands fa-instagram"></i>
          </div>
          <div class="icon_wrap">
            <i class="fa-brands fa-tiktok"></i>
          </div>
          <div class="icon_wrap">
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content_spacing"></div>
<div class="content_spacing"></div>
<div class="content_spacing"></div>
